<!DOCTYPE html>

{% load staticfiles %}

<html lang="fr">
<head>
	<title>{% block title %}Titre du fichier base.html{% endblock %} </title>
</head>

<body>
<header> {% block header %} Projet SOLIDAIRE {% endblock %}</header>
	<nav>
		<ul id ="menu_principal">
			<li><a href="#">Gestion simple</a>
				<ul>
					<li><a href="#">Adhérents</a></li>
					<li><a href="#">PasAdhérents</a></li>
					<li><a href="#">PresqueAdhérents</a></li>
				</ul>
			</li>
			<li><a href="#">Gestion moins simple</a>
				<ul>
					<li><a href="#">AdhérentsPasSimples</a></li>
					<li><a href="#">AdhérentsVraimentPasSimples</a></li>
					<li><a href="#">FTSIMOOH</a></li>
				</ul>
			</li>
		</ul>
	</nav>


{% block content %}
<p> Ici on met plein de content </p>
{% endblock %}

<footer>{% block footer %} Votre footer ici{% endblock %}</footer>

</body>
</html>

